<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <h2>Management</h2>

    <% } else { res.redirect('/') } %>

        <% messages() %>
            <%- messages() %>

                <% if (errors) { %>
                    <ul class="notice">
                        <% errors.array().forEach(error=> { %>
                            <li>
                                <%= error.msg %>
                            </li>
                            <% }) %>
                    </ul>
                    <% } %>
                        <%- grid %>