<h1>Register</h1>
<%- messages() %>

    <span>

        <!-- <h2>HTML Forms</h2> -->

        <form action="/account/register" method="post">
            <label for="name">First Name:</label><br>
            <input type="text" id="account_firstname" name="account_firstname" value=""><br>

            <label for="name">Last Name:</label><br>
            <input type="text" id="account_lastname" name="account_lastname" value=""><br>
            <label for="email">Email:</label><br>
            <input type="text" id="account_email" name="account_email" value=""><br>
            <label for="email">Password:</label><br>
            <input type="text" id="account_password" name="account_password" value=""><br><br>
            <button class="button">Register</button>
            <!-- <input type="submit" value="Submit"> -->
        </form>
        <!-- <div>No Account? No Problem: <a href="/account/register">Sign Up</a></div> -->

    </span>
    </picture>