<!-- <% c onst d=new D ate ( )  -->

// const year=d.getFullYear() %>


// Year 2000 is assign to the
// constructor of Date() class
let date = new Date('2000')

// Use "getYear()" method and stores
// the returned value to "n"
let n = date.getYear();

// Display the returned value
// The value is the subtraction of
// 2000 and 1900
console.log("The value returned by getYear() method: " + n)

<footer>
    <p class="copyright">&copy ; <%= year %>, CSE 340 App</p>
</footer>