<% const d=new Date() %>
    <%const year=d.getFullYear() %>
        <footer>
            <p class="copyright">&copy <%= year %>, CSE 340 App</p>
            <p> <a href="">Error link</a></p>
        </footer>