<div class="flex-container">
    <div class="flex-item-left">

        <!-- <div class="upgrades" class="flex-container"> -->
        <h2>Delorean Upgrades</h2>

        <div class="flex-container1234">
            <div class="card" class="line1">
                <img src="./images/upgrades/flux-cap.png" alt="Flux Capasitor">
                <!-- <a href="#Custom">Flux Capasitor</a> -->
            </div>

            <!-- <a href="#Custom">Flux Capasitor</a> -->
            <!-- </div> -->

            <div class="card" class="line1">
                <img src="./images/upgrades/flame.jpg" alt="Flame Decals">
            </div>
            <div class="container">
                <!-- <a href="#Custom">Flame Decals</a> -->
            </div>

            <div class="card" class="line1">
                <img src="./images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
            </div>
            <div class="container">
                <a href="#Custom">Bumper Stickers</a>
            </div>

            <div class="card" class="line1">
                <img src="./images/upgrades/hub-cap.jpg" alt="Hub Caps">
            </div>
            <div class="container">
                <a href="#Custom">Hub Caps</a>
            </div>

        </div>
    </div>
    <div class="flex-item-right">
        <div class="container">


            <div class="reviews">
                <h2>DMC Delorean Reviews</h2>
                <ul>
                    <li>"So fast it's almost like travelling in time" (4/5)</li>
                    <li>"Coolest ride on the road" (4/5)</li>
                    <li>"I'm feeling McFly!" (5/5)</li>
                    <li>"The most futuristic ride of the day." (4.5/5)</li>
                    <li>"80's livin and I love it!" (5/5)</li>
                </ul>
            </div>


        </div>
    </div>
</div>