<h1>Welcome to CSE Motors!</h1>
<picture>
    <source media="(min-width: 650px)" srcset="./images/vehicles/delorean.jpg">
    <!-- <source media="(min-width: 465px)" srcset="./images/vehicles/delorean-tn.jpg"> -->
    <img src="./images/vehicles/delorean.jpg">
</picture>

<div class="boiler">
    <h2>DMC Delorean</h2>
    <li>3 Cup holders</li>
    <li>Superman doors</li>
    <li>Fuzzy dice</li>
</div>

<div class="upgrades">
    <h2>DMC Delorean</h2>
    <dl>
        <dt><img src="./images/upgrades/flux-cap.png"></dt>
        <dd><a href="#Custom">Flux Capasitor</a></dd>
        <dt><img src="./images/upgrades/flame.jpg"></dt>
        <dd><a href="#Custom">Flame Decals</a></dd>
        <dt><img src="./images/upgrades/bumper_sticker.jpg"></dt>
        <dd><a href="#Custom">Bumper Stickers</a></dd>
        <dt><img src="./images/upgrades/hub-cap.jpg"></dt>
        <dd><a href="#Custom">Hub Caps</a></dd>
    </dl>
</div>


<div class="reviews">
    <h2>DMC Delorean Reviews</h2>
    <ul>
        <li>"So fast it's almost like travelling in time" (4/5)</li>
        <li>"Coolest ride on the road" (4/5)</li>
        <li>"I'm feeling McFly!" (5/5)</li>
        <li>"The most futuristic ride of the day." (4.5/5)</li>
        <li>"80's livin and I love it!" (5/5)</li>
    </ul>
</div>