<h1>Welcome to CSE Motors!</h1>
<%#- messages() %>
    <picture class="hero">
        <source media="(min-width: 650px)" srcset="./images/vehicles/delorean.jpg">
        <!-- <source media="(min-width: 465px)" srcset="./images/vehicles/delorean-tn.jpg"> -->
        <img src="./images/vehicles/delorean.jpg" class="center" alt="Delorean">
        <span>
            <h2>DMC Delorean</h2>
            <li class="bold">3 Cup holders</li>
            <li class="bold">Superman doors</li>
            <li class="bold">Fuzzy dice</li>

            <button class="button">Own Today</button>
        </span>
    </picture>

    <!-- <div class="boiler">
    <h2>DMC Delorean</h2>
    <li class="bold">3 Cup holders</li>
    <li class="bold">Superman doors</li>
    <li class="bold">Fuzzy dice</li>

    <button class="button">Own Today</button>

</div> -->







    <div class="flex-container">
        <div class="flex-item-left">
            <h2>Delorean Upgrades</h2>
            <div class="main1">
                <div class="Img_part" style="height:200px;">
                    <img src="./images/upgrades/flux-cap.png" alt="Flux Capasitor">
                </div>
                <div class="bgr"><a href="#Custom">Flux Capasitor</a></div>
            </div>
            <div class="main1">
                <div class="Img_part" style="height:200px;">
                    <img src="./images/upgrades/flame.jpg" alt="Flame Decals">
                </div>
                <div class="bgr"><a href="#Custom">Flame Decals</a></div>
            </div>
            <div class="main1">

                <div class="Img_part" style="height:200px;"><img src="./images/upgrades/bumper_sticker.jpg"
                        alt="Bumper Stickers"></div>
                <div class="bgr"><a href="#Custom">Bumper Stickers</a></div>
            </div>
            <div class="main1">
                <div class="Img_part" style="height:200px;"><img src="./images/upgrades/hub-cap.jpg" alt="Hub Caps">
                </div>
                <div class="bgr"><a href="#Custom">Hub Caps</a></div>
            </div>
        </div>

        <div class="flex-item-right">
            <div class="main">
                <h2>DMC Delorean Reviews</h2>
                <ul>
                    <li>"So fast it's almost like travelling in time" (4/5)</li>
                    <li>"Coolest ride on the road" (4/5)</li>
                    <li>"I'm feeling McFly!" (5/5)</li>
                    <li>"The most futuristic ride of the day." (4.5/5)</li>
                    <li>"80's livin and I love it!" (5/5)</li>
                </ul>

            </div>
        </div>
    </div>