<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

    <body>
        <div id="wrapper" class="test">
            <%#- include('../partials/header') %>
                <%#- include('../partials/navigation') %>

                    <main>
                        <h1>"There's nothing to see here, just a crash! Please look at the road ahead, so you don't slow
                            down everyone else that is trying to get where they are going."</h1>
                        <%#- body %>
                    </main>

                    <%#- include('../partials/footer') %>
        </div>
    </body>

</html>